.column {
  max-width: 500px;
}
/*body {
  background-color: #dadada;
}
 body > .grid {
  height: 100%;
} */
.image {
  margin-top: -100px;
}

.select {
  height: 150%;
}

.select option {
  padding: 6px !important;
}
